<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<!--interpolation binding-->
<h1>{{name}}</h1>
<h2>{{gffirst + ' ' + gflast}}</h2>

<!--property binding-->
<p [innerHTML]="name"></p>
<img [src]="'https://angular.io/assets/images/logos/angular/angular.png'" alt="" width="50">

<!--attribute binding-->
<table [attr.border]="bdr" [attr.height]="hig" [attr.width]="wid">
  <tr>
    <td [attr.colspan]="colspan">Employee's details</td>
  </tr>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Salary</td>
  </tr>
  <tr>
    <td> 1</td>
    <td>Rohan Dhiman</td>
    <td>50000</td>
  </tr>
</table>
<br>
<!--event binding-->
<button (click)="myonClick()">Click me</button>
<br>

<!--two way binding first way-->
<!-- without ngModel-->
enter your name : <input [value]='data' (input)="data=$event.target.value">
<br>
your name : {{data}}
<br>
<!-- two way binding second way ngModel -->

enter your name : <input [(ngModel)]='dataOne'>
<br>
your name : {{dataOne}}
