<!--The content below is only a placeholder and can be replaced.-->

<h2>Pipe examples</h2>

<table border="1">

  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Date of Birth</th>
  </tr>
  <tr *ngFor="let e of employees">
    <td>{{e.code}}</td>
    <td>{{e.name | uppercase}}</td>
    <!--// parameterized pipes-->
    <td>{{e.salary | currency:'USD':true}}</td>
    <td>{{e.dateOfBirth | date:"dd-mm-yyyy"}}</td>
  </tr>


</table>
<br>
<!-- parameterized pipes-->
  Without parameters :- {{DOB}}
<br>
  medium :- {{DOB | date:"medium"}}
<br>
  specific :- {{DOB | date:"dd/mm/yyyy"}}
<br>
  mediumTime :- {{DOB | date:"mediumTime"}}
<br>
fullDate :- {{DOB | date:"fullDate" | uppercase}}

<!--uppercase-->
<br>
Uppercase : {{names | uppercase}}
<br>
Lowercase : {{names | lowercase}}
<br>
Title : {{names | titlecase}}
<br>
slice : {{names | slice:5}}
slice with end : {{names | slice:5:8}}


<br><h2>Date examples</h2>

<p>{{currentData}}</p>
<p>{{currentData | date:'shortDate'}}</p>
<p>{{currentData | date:'longDate'}}</p>
<p>{{currentData | date:'fullDate'}}</p>

<h2>Percent Examples</h2>
<p>{{mnumber }}</p>
<p>{{mnumber | percent}}</p>
<p>{{mnumber | percent:'2.4-8'}}</p>


<h2>Decimal Examples</h2>
<p>{{mnumber }}</p>
<p>{{mnumber | number}}</p>
<p>{{mnumber | number:'2.4-8'}}</p>



<h2>Currency Examples</h2>
<p>{{mnumber }}</p>
<p>{{mnumber | currency}}</p>
<p>{{mnumber | currency:'INR'}}</p>

<h2>json examples</h2>
<p>
  {{countries|json}}

</p>
with slice
<p> {{countries|slice:1:3|json}}</p>
