<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo"  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<h2>Ngif using</h2>

<div>
  <input type="radio" name="rad1" (click)="changeValue(true)"> True
  <input type="radio" name="rad1" (click)="changeValue(false)"> False

</div>

<div *ngIf="isValid">
  <b>Data is valid</b>
</div>
<div *ngIf="!isValid">
  <b>Data is not valid</b>
</div>


<hr><h1>with else part</h1>
<div *ngIf="withElsePart; else myelsecon">
  <b>Data is valid</b>
</div>

<ng-template #myelsecon>
  <h2>we are calling else part ng template</h2>
</ng-template>


<hr><h4>then and else part</h4>

<div *ngIf="withElseThenPart; then thenblock; else myelseconwiththen">

</div>


<ng-template #thenblock>
  <h2>
  <b>Data is valid than</b>
  </h2>
</ng-template>

<ng-template #myelseconwiththen>
  <h2>
  <b>Data is valid than with else part</b>
  </h2>
</ng-template>

